body {
  font: 14px 'Trebuchet MS';
  background-color: #fff;
}
label {
  margin-bottom: 15px;
  font: 14px 'Trebuchet MS';
}
input,
select {
  background-color: #ccc;
  margin: 0 15px 5px 5px;
  padding-left: 5px;
  height: 25px;
  font-family: 'Trebuchet MS';
  transition: .25s;
}
input:focus,
input:hover,
select:hover {
  background-color: #f99;
}
textarea {
  background-color: #ccc;
  margin-left: 5px;
  transition: .25s;
}
textarea:focus,
textarea:hover {
  background-color: #f99;
}