span {
  font: bold 18px 'Trebuchet MS';
  color: #f63;
  transition: .25s;
  &:hover {
    color: #f99;
  }
}
p {
  margin: 14px 0 14px 0;
  font: 'Trebuchet MS' 14px;
}
ul {
  padding-inline-start: 32px;
  margin-bottom: 14px;
}
li {
  margin-bottom: 7px;
  &::marker {
    color: #f63;
    transition: .25s;
    &:hover {
      color: #f99;
    }
  }
}