label {
  margin-bottom: 15px; 
  font: 14px 'Trebuchet MS';
}
input, select {
  background-color:#CCC; 
  margin: 0 15px 5px 5px; 
  padding-left: 5px;
  height: 28px; 
  font-family: 'Trebuchet MS'; 
  transition: .25s;
}
textarea {
  background-color:#CCC; 
  margin-left: 5px; 
  transition: .25s;
}
input:focus, input:hover, select:hover, textarea:focus, textarea:hover {
  background-color:#F99;
}
#contato {
  display: flex;
  width: 100%;
  padding-top: 25px;
  & label {
    display: inline-block;
    width: 80px;
  }
}
#area-texto {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#enviar {
  width: 82px;
  height: 82px;
  background-image: url(images/enviar.png);
  border: none;
  margin-left: 30px;
  transition: .25s;
  &:hover {
    background-image: url(images/enviar_on.png);
  }
}
/* design responsivo */
@media only screen and (min-width: 414px) {
  #contato {
    flex-direction: column;
    & div {
    width: auto;
    }
  }
  .tamanho {
    width: 248px;
  }
  #botao-submit {
    margin-top: 10px;
    text-align: right;
  }
}
@media only screen and (min-width: 863px) {
  #contato {
    flex-direction: row;
  }
  .tamanho {
    width: 222px;
  }
}
@media only screen and (min-width: 1270px) {
  #contato {
    flex-direction: row;
    & div {
      width: 500px;
    }
  }
  .tamanho {
    width: 270px;
  }
  #botao-submit {
    text-align: left;
  }
}