@inherits LayoutComponentBase
@layout TheMain
@page "/about"
@page "/sobre"

<PageTitle>JAPA JÁ | Sobre</PageTitle>

<TheSubheader Title="Sobre" />
<div id="instrucoes">
  <div id="paragrafos">
    <p>Encontre seu restaurante japonês no Rio de Janeiro com o Japa Já!</p>
    <p>
      Use nossa ferramenta de busca no topo da página para fazer sua pesquisa, de forma rápida e
      prática.
    </p>
    <p>
      Caso você esteja procurando um restaurante nas suas redondezas, simplesmente acione o botão com o apontador.
    </p>
    <p>
      Caso você possua um estabelecimento, acesse o formulário através do botão com a carta
      e anuncie seu negócio aqui.
    </p>
    <p>
      Caso você seja consumidor, use este mesmo formulário para dúvidas, elogios, críticas e
      sugestões.
    </p>
    <p>E você pode voltar à página inicial a qualquer momento através do símbolo ou do logotipo.</p>
    <p style="margin-bottom: 0;">Boa procura... e bom apetite!</p>
    <span>Design & Development by Gonçalves Alves.</span>
  </div>
  <div id="logos">
    <img alt="Blazor logo" src="images/blazor-logo.svg" />
    <img alt="ASP.NET Core logo" src="images/asp-net-core-logo.svg" />
  </div>
</div>