@inherits LayoutComponentBase
@layout TheContainer
@page "/nearby"
@page "/porperto"

<PageTitle>JAPA JÁ | Por Perto</PageTitle>

<TheSubheader Title="Por Perto" />
<div class="gcse-searchresults-only"></div>