@page "/"

<PageTitle>JAPA JÁ | Home</PageTitle>

<main>
    <div class="propaganda"><img src="images/geisha.png" /></div>
    <div class="propaganda"><img src="images/ie.png" /></div>
    <div class="propaganda"><img src="images/konistore.png" /></div>
    <div class="propaganda"><img src="images/konomiai.png" /></div>
    <div class="propaganda"><img src="images/lapamaki.png" /></div>
    <div class="propaganda"><img src="images/manekineko.png" /></div>
    <div class="propaganda"><img src="images/yakiniku.png" /></div>
    <div class="propaganda"><img src="images/samurai.png" /></div>
    <div class="propaganda"><img src="images/gendai.png" /></div>
    <div class="propaganda"><img src="images/gohan.png" /></div>
    <div class="propaganda"><img src="images/t-maki.png" /></div>
    <div class="propaganda"><img src="images/japax.png" /></div>
</main>