@inherits LayoutComponentBase
@layout TheContainer
@page "/search"
@page "/results"

<PageTitle>JAPA JÁ | Resultados</PageTitle>

<TheSubheader Title="Resultados" />
<div class="gcse-searchresults-only"></div>
