<footer id="menu-mobile">
    <NavLink href="/"><div id="simbolo"></div></NavLink>
    <div id="nearby" href="#" alt="Por Perto"></div>
    <NavLink href="/contact"><div id="formulario"></div></NavLink>
    <NavLink href="/about"><div id="sobre"></div></NavLink>
</footer>
<NavLink href="/about">
    <footer id="largo">
        © 2012/2024 Japa Já. 
        Todos os direitos reservados. 
        Design by Gonçalves Alves. 
        Conheça aqui a ferramenta.
    </footer>
</NavLink>
