@inherits LayoutComponentBase
@layout TheContainer
@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h2 class="text-danger">
    Ocorreu um erro ao processar sua requisição.
</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Código da requisição:</strong> <code>@RequestId</code>
    </p>
}

<h3>Modo de Desenvolvedor</h3>
<p>
    Mudar para o ambiente de <strong>Desenvolvedor</strong> exibirá informações mais detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>
        O ambiente de Desenvolvedor não deve estar habilitado para aplicações implementadas.
    </strong>
    Isto pode resultar em exibir informações sensíveis para usuários finais.
    Para depuração local, habilite o ambiente de <strong>Desenvolvedor</strong> definindo a variável <strong>ASPNETCORE_ENVIRONMENT</strong> para <strong>"Development"</strong>
    e reiniciando a aplicação.
</p>

@code{
    [CascadingParameter]
    public TheContainer Container { get; set; }

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() 
    {
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
        Container.Title = "Erro Fatal";
    }
}
