p {
  font: 14px 'Trebuchet MS';
}
#instrucoes {
  display: flex;
}
#paragrafos {
  margin-top: 14px;
}
#logos {
  display: flex;
}
#logos img {
  width: 125px;
  height: 125px;
  object-fit: contain;
}
/* design responsivo */
@media only screen and (min-width: 414px) {
  #instrucoes {
    flex-direction: column;
  }
  #logos {
    margin: 20px auto 10px auto; 
    flex-direction: row;
  }
  #logos img {
    margin: 0 20px;
  }
}
@media only screen and (min-width: 863px) {
  #instrucoes {
    flex-direction: row;
  }
  #paragrafos {
    width: 500px;
  }
  #logos {
    margin: -20px 0 auto auto; 
    flex-direction: column;
  }
  #logos img {
    margin: 10px 0;
  }
}
@media only screen and (min-width: 1270px) {
  #instrucoes {
    flex-direction: row;
  }
  #instrucoes div {
    width: auto;
  }
  #logos {
    text-align: right; 
    margin: auto 0 auto auto; 
    flex-direction: row;
  }
  #logos img {
    margin: 0 10px;
  }
}
