<div id="promocoes">
    <div class="propaganda"><img src="/assets/geisha.png" /></div>
    <div class="propaganda"><img src="/assets/ie.png" /></div>
    <div class="propaganda"><img src="/assets/konistore.png" /></div>
    <div class="propaganda"><img src="/assets/konomiai.png" /></div>
    <div class="propaganda"><img src="/assets/lapamaki.png" /></div>
    <div class="propaganda"><img src="/assets/manekineko.png" /></div>
    <div class="propaganda"><img src="/assets/yakiniku.png" /></div>
    <div class="propaganda"><img src="/assets/samurai.png" /></div>
    <div class="propaganda"><img src="/assets/gendai.png" /></div>
    <div class="propaganda"><img src="/assets/gohan.png" /></div>
    <div class="propaganda"><img src="/assets/t-maki.png" /></div>
    <div class="propaganda"><img src="/assets/japax.png" /></div>
</div>