<header id="completo">
    <a routerLink="/" id="simbolo"></a>
    <a routerLink="/" id="logotipo"></a>
    <form id="buscaAmplo">
        <div id="digitar"><input type="text" value="buscar já!" /></div>
        <input type="submit" id="pesquisa" value="" href="#" />
    </form>
    <a id="nearby" href="#" alt="Por Perto"></a>
    <a routerLink="/contact" id="formulario"></a>
</header>
<header id="reduzido">
    <form id="buscaReduz">
        <div id="digitar"><input type="text" value="buscar já!" /></div>
        <input type="submit" id="pesquisa" value="" href="#" />
    </form>
</header>