header {
    height: 82px;
    width: 100%;
    & form {
        display: flex;
    }
}
#reduzido {
    padding: 7px;
    background-color: #FFF;
    position: fixed;
    z-index: 1;
    top: 0;
}
/* design responsivo */
@media only screen and (min-width: 348px)
{
    #completo {
        display: none;
    }
    #reduzido {
        display: flex;
    }
}
@media only screen and (min-width: 863px)
{
    #completo {
        display: flex;
    }
    #reduzido {
        display: none;
    }
}
@media only screen and (min-width: 1270px)
{
    #reduzido {
        display: none;
    }
}