#instrucoes {
    display: flex;
}
#logos {
    display: flex;
    & img {
        object-fit: contain;
    }
}
span {
    margin: 14px 0 0 0;
    font-style: italic;
    font-weight: bold;
    color: #F63;
    &:hover {
        color: #F99;
    }
}
/* design responsivo */
@media only screen and (min-width: 348px)
{
    #instrucoes {
        flex-direction: column;
    }
    #logos {
        margin: 25px auto 10px auto; 
        flex-direction: row;
        & img {
            width: 100px; 
            height: 100px; 
            margin: 0 20px;
        }
    }
    span {
        display: block;
    }
}
@media only screen and (min-width: 863px)
{
    #instrucoes {
        flex-direction: row;
    }
    #paragrafos {
        width: 500px;
    }
    #logos {
        margin: auto 0 auto auto; 
        flex-direction: column;
        & img {
            width: 125px; 
            height: 125px; 
            margin: 10px 0;
        }
    }
    span {
        display: none;
    }
}
@media only screen and (min-width: 1270px)
{
    #instrucoes {
        flex-direction: row;
        & div {
            width: auto;
        }
    }
    #logos {
        text-align: right; 
        flex-direction: row;
        & img {
            margin: 0 5px;
        }
    }
}