/* tags gerais */
body {
    font: 14px 'Trebuchet MS'; 
    background-color: #FFF;
}
label {
    margin-bottom: 15px; 
    font: 14px 'Trebuchet MS';
}
h1 {
    font: normal 40px 'GalaBold'; 
    float: left; 
    width: auto; 
    color: #F63; 
    padding-right: 20px; 
    margin: 0; 
    transition: .25s;
    &:hover {
        color: #F99;
    }
}

/* header */
header {
    width: 100%; 
    height: 82px;
    & form {
        display: flex;
    }
}
#simbolo {
    width: 82px; 
    height: 82px; 
    margin-right: 7px; 
    background-image: url(../img/simbolo.png); 
    transition: .25s;
    &:hover {
        background-image:url(../img/simbolo_on.png);
    }
}
#logotipo {
    width: 173px; 
    height: 82px; 
    margin-right: 7px; 
    background-image:url(../img/logotipo.png); 
    transition: .25s;
    &:hover {
        background-image:url(../img/logotipo_on.png);
    }
}
#digitar {
    height: 82px; 
    text-align: center; 
    margin-right: 7px; 
    padding-left: 7px; 
    border-radius: 7px; 
    background-color: #F63; 
    transition: .25s;
    &:hover {
        background-color: #F99;
    }
    & input {
        border: none; 
        height: 40px; 
        margin: 20px 20px auto 10px; 
        padding-left: 10px; 
        font: normal 18px 'Trebuchet MS'; 
        background-color: #FFF;
        &:hover, &:focus {
            background-color: #FFF;
        }
    }
}
#pesquisa {
    background-image: url(../img/pesquisa.png); 
    width: 82px;
    height: 82px; 
    border: none; 
    margin-right: 7px; 
    transition: .25s;
    &:hover {
        background-image: url(../img/pesquisa_on.png);
    }
}
#nearby {
    width: 82px; 
    height: 82px; 
    background-image: url(../img/nearby.png); 
    margin-right: 7px; 
    transition: .25s;
    &:hover {
        background-image: url(../img/nearby_on.png);
    }
}
#formulario {
    width: 82px; 
    height: 82px; 
    background-image: url(../img/form.png); 
    margin-right: 7px; 
    transition: .25s;
    &:hover {
        background-image: url(../img/form_on.png);
    }
}

/* box de conteúdo */
#conteudo {
    height: auto; 
    padding: 20px; 
    text-align: left; 
    margin-top: 7px; 
    background-color: #FFF; 
    border: 3px solid #F63; 
    border-radius: 7px; 
    transition: .25s;
    &:hover {
        border: 3px solid #F99;
    }
    & p {
        font: 14px 'Trebuchet MS';
    }
    & form {
        margin-top: 40px;
    }
}
#subheader {
    width: 100%; 
    height: 73px; 
    margin-bottom: 15px; 
    display: flex; 
    justify-content: space-between;
}

/* botões comuns */
#voltar {
    width: 82px; 
    height: 30px; 
    background-image: url(../img/voltar.png); 
    background-size: cover; 
    transition: .25s;
    &:hover {
        background-image: url(../img/voltar_on.png);
    }
}
#sobre {
    width: 82px; 
    height: 82px; 
    background-image: url(../img/sobre.png); 
    transition: .25s;
    &:hover {
        background-image: url(../img/sobre_on.png);
    }
}

/* footer */
#largo {
    height: 22px; 
    padding: 6px; 
    float: left; 
    font-size: 12px; 
    background-color: #F63; 
    border-radius: 7px; 
    margin: 7px 0; 
    text-align: center; 
    text-decoration: none; 
    flex-direction:column; 
    justify-content: center; 
    transition: .25s;
    &:hover {
        background-color: #F99;
    }
}
a footer {
    color: #FFF;
    &:hover {
        color: #000;
    }
}
#menu-mobile {
    height: 82px; 
    margin: 7px 0; 
    flex-direction: row; 
    width: 408px; 
    float: left; 
    justify-content: space-between;
}

/* home */
.propaganda {
    float: left; 
    margin: 7px 7px 0 0; 
    border-radius: 7px; 
    display: flex; 
    overflow: hidden;
    & img {
        width: 408px; 
        height: 193px; 
        object-fit: cover; 
        object-position: top left; 
        transition: transform .5s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}

/* formulário de contato */
#contato {
    display: flex; 
    width: 100%;
    & label {
        display: inline-block; 
        width: 80px;
    }
    & textarea {
        background-color:#CCC; 
        margin-left: 5px; 
        transition: .25s;
        &:focus, &:hover {
            background-color:#F99;
        }
    }
}
#nome, #email, #cliente {
    background-color:#CCC; 
    margin: 0 15px 5px 1px; 
    padding-left: 5px; 
    height: 25px; 
    font-family: 'Trebuchet MS'; 
    transition: .25s;
    &:focus, &:hover {
        background-color:#F99;
    }
}
#area-texto {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}
#enviar {
    width: 82px; 
    height: 82px; 
    background-image: url(../img/enviar.png); 
    border: none; 
    margin-left: 30px; 
    transition: .25s;
    &:hover {
        background-image: url(../img/enviar_on.png);
    }
}

/* sobre */
#instrucoes {
    display: flex;
}
#logos {
    display: flex;
    & img {
        width: 125px; 
        height: 125px; 
        object-fit: contain;
    }
}

/* incorporando a fonte Gala Bold */
@font-face 
{
    font-family: 'GalaBold';
    src: url('../font/gala_bold-webfont.eot');
    src: url('../font/gala_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gala_bold-webfont.woff') format('woff'),
         url('../font/gala_bold-webfont.ttf') format('truetype'),
         url('../font/gala_bold-webfont.svg#GalaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* design responsivo */
@media only screen and (min-width: 414px)
{
    #completo, #largo {
        display: none;
    }
    #reduzido {
        display: flex;
    }
    #digitar {
        width: 311px;
        & input {
            width: 261px;
        }
    }
    #conteudo {
        width: 362px;
    }
    #contato {
        flex-direction: column;
        & div {
            width: auto;
        }
    }
    .tamanho {
        width: 248px;
    }
    #botao-submit {
        margin: 10px 15px 5px auto;
        text-align: right;
    }
    #instrucoes {
        flex-direction: column;
    }
    #logos {
        margin: 20px auto 10px auto; 
        flex-direction: row;
        & img {
            margin: 0 20px;
        }
    }
    #menu-mobile {
        display: flex;
    }
}
@media only screen and (min-width: 863px)
{
    #completo, #largo {
        display: flex;
    }
    #reduzido {
        display: none;
    }
    #digitar {
        width: 279px;
        & input {
            width: 229px;
        }
    }
    #conteudo {
        width: 778px;
    }
    #contato {
        flex-direction: row;
    }
    .tamanho {
        width: 222px;
    }
    #instrucoes {
        flex-direction: row;
    }
    #paragrafos {
        width: 500px;
    }
    #logos {
        margin: auto 0 auto auto; 
        flex-direction: column;
        & img {
            margin: 10px 0;
        }
    }
    #largo {
        width: 811px;
    }
    #menu-mobile {
        display: none;
    }
}
@media only screen and (min-width: 1270px)
{
    #reduzido {
        display: none;
    }
    #digitar {
        width: 694px;
        & input {
            width: 644px;
        }
    }
    #conteudo {
        width: 1193px;
    }
    #contato {
        flex-direction: row;
        & div {
            width: 500px;
        }
    }
    .tamanho {
        width: 270px;
    }
    #botao-submit {
        text-align: left;
    }
    #instrucoes {
        flex-direction: row;
        & div {
            width: auto;
        }
    }
    #logos {
        text-align: right; 
        flex-direction: row;
        & img {
            margin: 0 5px;
        }
    }
    #menu-mobile {
        display: none;
    }
    #largo {
        width: 1226px;
    }
}
