#simbolo {
    width: 82px; 
    height: 82px; 
    margin-right: 7px; 
    background-image: url(../img/simbolo.png); 
    transition: .25s;
    &:hover {
        background-image:url(../img/simbolo_on.png);
    }
}
#nearby {
    width: 82px; 
    height: 82px; 
    background-image: url(../img/nearby.png); 
    margin-right: 7px; 
    transition: .25s;
    &:hover {
        background-image: url(../img/nearby_on.png);
    }
}
#formulario {
    width: 82px; 
    height: 82px; 
    background-image: url(../img/form.png); 
    margin-right: 7px; 
    transition: .25s;
    &:hover {
        background-image: url(../img/form_on.png);
    }
}
#sobre {
    width: 82px; 
    height: 82px; 
    background-image: url(../img/sobre.png); 
    transition: .25s;
    &:hover {
        background-image: url(../img/sobre_on.png);
    }
}
#largo {
    height: 22px; 
    padding: 6px; 
    float: left; 
    font-size: 12px; 
    background-color: #F63; 
    border-radius: 7px; 
    margin: 7px 0; 
    text-align: center; 
    text-decoration: none; 
    flex-direction:column; 
    justify-content: center; 
    transition: .25s;
    &:hover {
        background-color: #F99;
    }
}
a footer {
    color: #FFF;
    transition: .25s;
    &:hover {
        color: #000;
    }
}
#menu-mobile {
    height: 82px; 
    padding: 7px 0;
    width: 348px; 
    float: left; 
    background-color: #FFF;
    position: sticky;
    bottom: 0;
}
/* design responsivo */
@media only screen and (min-width: 348px)
{
    #largo {
        display: none;
    }
    #menu-mobile {
        display: flex;
    }
}
@media only screen and (min-width: 863px)
{
    #largo {
        display: flex;
        width: 811px;
    }
    #menu-mobile {
        display: none;
    }
}
@media only screen and (min-width: 1270px)
{
    #menu-mobile {
        display: none;
    }
    #largo {
        width: 1226px;
    }
}