header {
    width: 100%; 
    height: 82px;
    & form {
        display: flex;
    }
}
#simbolo {
    width: 82px; 
    height: 82px; 
    margin-right: 7px; 
    background-image: url(../img/simbolo.png); 
    transition: .25s;
    &:hover {
        background-image:url(../img/simbolo_on.png);
    }
}
#logotipo {
    width: 173px; 
    height: 82px; 
    margin-right: 7px; 
    background-image:url(../img/logotipo.png); 
    transition: .25s;
    &:hover {
        background-image:url(../img/logotipo_on.png);
    }
}
#digitar {
    height: 82px; 
    text-align: center; 
    margin-right: 7px; 
    padding-left: 7px; 
    border-radius: 7px; 
    background-color: #F63; 
    transition: .25s;
    &:hover {
        background-color: #F99;
    }
    & input {
        border: none; 
        height: 40px; 
        margin: 20px 20px auto 10px; 
        padding-left: 10px; 
        font: normal 18px 'Trebuchet MS'; 
        background-color: #FFF;
        &:hover, &:focus {
            background-color: #FFF;
        }
    }
}
#pesquisa {
    background-image: url(../img/pesquisa.png); 
    width: 82px;
    height: 82px; 
    border: none; 
    margin-right: 7px; 
    transition: .25s;
    &:hover {
        background-image: url(../img/pesquisa_on.png);
    }
}
#nearby {
    width: 82px; 
    height: 82px; 
    background-image: url(../img/nearby.png); 
    margin-right: 7px; 
    transition: .25s;
    &:hover {
        background-image: url(../img/nearby_on.png);
    }
}
#formulario {
    width: 82px; 
    height: 82px; 
    background-image: url(../img/form.png); 
    margin-right: 7px; 
    transition: .25s;
    &:hover {
        background-image: url(../img/form_on.png);
    }
}

/* design responsivo */
@media only screen and (min-width: 414px)
{
    #completo, #largo {
        display: none;
    }
    #reduzido {
        display: flex;
    }
    #digitar {
        width: 311px;
        & input {
            width: 261px;
        }
    }
}
@media only screen and (min-width: 863px)
{
    #completo, #largo {
        display: flex;
    }
    #reduzido {
        display: none;
    }
    #digitar {
        width: 279px;
        & input {
            width: 229px;
        }
    }
}
@media only screen and (min-width: 1270px)
{
    #reduzido {
        display: none;
    }
    #digitar {
        width: 694px;
        & input {
            width: 644px;
        }
    }
}
