div {
    width: 82px; 
    height: 82px; 
    background-image: url(images/nearby.png); 
    margin-right: 7px; 
    transition: .25s;
    &:hover {
        background-image: url(images/nearby_on.png);
    }
}