#simbolo {
  width: 82px; 
  height: 82px; 
  margin-right: 7px; 
  background-image: url(images/simbolo.png); 
  transition: .25s;
  &:hover {
      background-image:url(images/simbolo_on.png);
  }
}
#nearby {
  width: 82px; 
  height: 82px; 
  background-image: url(images/nearby.png); 
  margin-right: 7px; 
  transition: .25s;
  &:hover {
      background-image: url(images/nearby_on.png);
  }
}
#formulario {
  width: 82px; 
  height: 82px; 
  background-image: url(images/form.png); 
  margin-right: 7px; 
  transition: .25s;
  &:hover {
      background-image: url(images/form_on.png);
  }
}
#sobre {
  width: 82px; 
  height: 82px; 
  background-image: url(images/sobre.png); 
  transition: .25s;
  &:hover {
      background-image: url(images/sobre_on.png);
  }
}
#largo {
  height: 34px; 
  padding: 6px; 
  float: left; 
  font-size: 12px; 
  background-color: #F63; 
  border-radius: 7px; 
  margin-top: 7px; 
  text-align: center; 
  text-decoration: none; 
  flex-direction:column; 
  justify-content: center; 
  transition: .25s;
  &:hover {
      background-color: #F99;
  }
}
footer {
  color: #FFF;
  transition: .25s;
  &:hover {
      color: #000;
  }
}
#menu-mobile {
  height: 96px; 
  padding: 7px;
  flex-direction: row; 
  width: 422px; 
  float: left; 
  justify-content: space-between;
  background-color: #FFF;
  position: sticky;
  bottom: 0;
}

/* design responsivo */
@media only screen and (min-width: 414px)
{
  #largo {
      display: none;
  }
  #menu-mobile {
      display: flex;
  }
}
@media only screen and (min-width: 863px)
{
  #largo {
      display: flex;
      width: 823px;
  }
  #menu-mobile {
      display: none;
  }
}
@media only screen and (min-width: 1270px)
{
  #menu-mobile {
      display: none;
  }
  #largo {
      width: 1238px;
  }
}