footer {
  color: #FFF;
  transition: .25s;
  &:hover {
      color: #000;
  }
}
#largo {
  height: 34px; 
  padding: 6px; 
  float: left; 
  font-size: 12px; 
  background-color: #F63; 
  border-radius: 7px; 
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center; 
  text-decoration: none; 
  flex-direction: column; 
  justify-content: center; 
  transition: .25s;
  &:hover {
      background-color: #F99;
  }
}
#menu-mobile {
  height: 96px; 
  padding: 7px;
  width: 355px; 
  float: left; 
  background-color: #FFF;
  position: fixed;
  bottom: 0;
}

/* design responsivo */
@media only screen and (min-width: 348px)
{
  #largo {
      display: none;
  }
  #menu-mobile {
      display: flex;
  }
}
@media only screen and (min-width: 863px)
{
  #largo {
      display: flex;
      width: 823px;
  }
  #menu-mobile {
      display: none;
  }
}
@media only screen and (min-width: 1270px)
{
  #menu-mobile {
      display: none;
  }
  #largo {
    width: 1238px;
  }
}