<header id="completo">
    <NavLink href="/"><div id="simbolo"></div></NavLink>
    <NavLink href="/"><div id="logotipo"></div></NavLink>
    <form id="buscaAmplo" action="/search" method="get" role="search">
        <div id="digitar"><input type="text" placeholder="buscar já!" name="q" /></div>
        <input type="submit" id="pesquisa" value="" />
    </form>
    <NavLink href="/nearby"><div id="nearby"></div></NavLink>
    <NavLink href="/contact"><div id="formulario"></div></NavLink>
</header>
<header id="reduzido">
    <form id="buscaReduz" action="/search" method="get" role="search">
        <div id="digitar"><input type="text" placeholder="buscar já!" name="q" /></div>
        <input type="submit" id="pesquisa" value="" />
    </form>
</header>
