<header id="completo">
    <NavLink href="/"><div id="simbolo"></div></NavLink>
    <NavLink href="/"><div id="logotipo"></div></NavLink>
    <form id="buscaAmplo">
        <div id="digitar"><input type="text" value="buscar já!" /></div>
        <input type="submit" id="pesquisa" value="" href="#" />
    </form>
    <div id="nearby"></div>
    <NavLink href="/contact"><div id="formulario"></div></NavLink>
</header>
<header id="reduzido">
    <form id="buscaReduz">
        <div id="digitar"><input type="text" value="buscar já!" /></div>
        <input type="submit" id="pesquisa" value="" href="#" />
    </form>
</header>