body {
    font: 14px 'Trebuchet MS'; 
    background-color: #FFF;
}
#wrapper {
    display: flex;
    flex-direction: column;
}

/* design responsivo */
@media only screen and (min-width: 414px)
{
    body {
        margin: 0;
        padding: 0;
    }
    #wrapper {
        height: 100vh;
    }
}
@media only screen and (min-width: 863px)
{
    body {
        padding: 7px 0 0 7px;
    }
    #wrapper {
        height: 98.2vh;
    }
}