header {
    width: 100%;
    height: 82px;
}
.simbolo {
    width: 82px;
    height: 82px;
    margin-right: 7px;
    background-image: url(images/simbolo.png);
    transition: .25s;
}
.simbolo:hover {
    background-image: url(images/simbolo_on.png);
}
.logotipo {
    width: 173px;
    height: 82px;
    margin-right: 7px;
    background-image: url(images/logotipo.png);
    transition: .25s;
}
.logotipo:hover {
    background-image: url(images/logotipo_on.png);
}
header form {
    display: flex;
}
#digitar {
    height: 82px;
    text-align: center;
    margin-right: 3px;
    padding-left: 7px;
    border-radius: 7px;
    background-color: #f63;
    transition: .25s;
}
#digitar:hover, #digitar:focus {
    background-color: #f99;
}
.preencher {
    border: none;
    height: 42px;
    margin-top: 20px;
    padding-left: 10px;
    font: normal 18px 'Trebuchet MS';
    background-color: #fff;
}
.preencher:focus, .preencher:hover {
    background-color: #fff;
}
#pesquisa {
    background-image: url(images/pesquisa.png);
    width: 82px;
    height: 82px;
    border: none;
    margin-right: 7px;
    transition: .25s;
}
#pesquisa:hover {
    background-image: url(images/pesquisa_on.png);
}
#nearby {
    width: 82px; 
    height: 82px; 
    background-image: url(images/nearby.png); 
    margin-right: 7px;
    transition: .25s;
}
#nearby:hover {
    background-image: url(images/nearby_on.png);
}
#formulario {
    width: 82px;
    height: 82px;
    background-image: url(images/form.png);
    margin-right: 7px;
    transition: .25s;
}
#formulario:hover {
    background-image: url(images/form_on.png);
}

/* design responsivo */
@media only screen and (min-width: 414px) {
    #completo, #largo {
        display: none;
    }
    #reduzido {
        display: flex;
    }
    #digitar {
        width: 318px;
    }
    .preencher {
        width: 273px;
    }
}
@media only screen and (min-width: 863px) {
    #completo, #largo {
        display: flex;
    }
    #reduzido {
        display: none;
    }
    #digitar {
        width: 286px;
    }
    .preencher {
        width: 241px;
    }
}
@media only screen and (min-width: 1270px) {
    #reduzido {
        display: none;
    }
    #digitar {
        width: 701px;
    }
    .preencher {
        width: 656px;
    }
}
