a {
    display: block;
    width: 173px; 
    height: 82px; 
    margin-right: 7px; 
    background-image:url(/assets/logotipo.png); 
    transition: .25s;
    &:hover {
        background-image:url(/assets/logotipo_on.png);
    }
}